#ballPointer {
    border-radius: 25px;
    width: 50px;
    height: 50px;
    background: rgb(192, 192, 192, 0.7);
    box-shadow: 0 0 10px ;
    position: absolute;
    top: 0;
    left: 0;
    animation-duration: initial;
    animation-delay: 3s;
}

#ballPointer:focus {
    background: rever;
  }