footer {
    background-color: rgba(19, 143, 137, 0.158);
    color: black;
    position: fixed;
    width: 100%;
    height: 100vh;
    pointer-events: auto;
    z-index: -1;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

a {
    text-decoration: none;
    color: black;
}