.get-in-touch {
    margin-top: 70px;
}

.get-in-touch .container .content  {
    width: 100%;
}

.get-in-touch .contact-card {
    position: relative;
    width: 90%;
    background: var(--card-bg-color);
    box-shadow: var(--box-shadow);
    padding: 50px;
    border-radius: 10px;
    column-gap: 50px;
}

.contact-card .title {
    text-transform: uppercase;
    line-height: 60px;
}

.contact-card .title h4 {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 20px;
}

.contact-card .title h3 {
    font-size: 2.3em;
    font-weight: 400;
}

.contact-card .title h2 {
    font-size: 4.2em;
    font-weight: 700;
    background: linear-gradient(to top, transparent 0%, var(--first-color) 30%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .9;
}
