header {
    position: absolute;
    top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 3rem 0 3rem;
    
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-container:hover p {
  display: block;
  padding-top: 15px;
  text-shadow: 0 0 10px rgba(221, 221, 221, 0.8);
}

.navbar li:hover .submenu {
  display: block;

}

.logo-wrapper{
  display: flex;
}

.logo, .logo-uniq {
  text-shadow: 0 0 4px rgba(221, 221, 221, 0.8);
  font-size: 3rem; 
  font-family: "Big Shoulders Stencil Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.logo {
    animation: fadeInOut 20s ease-in-out infinite;
}
  
.menu {
    display: flex;
    gap: 50px;
    font-weight: 500;
}

.submenu {
    display: none;
    position: absolute;
    font-size: 0.8rem;
    padding-top: 15px;

}

a {
  position: relative;
  text-decoration: none;
  align-self: center;
  cursor: pointer;
  color: silver;
    
}

a:hover {
  color: white;
  transition: opacity 1s ease;
  text-shadow: 0 0 10px rgba(221, 221, 221, 0.8);

}

a:hover .submenu {
  display: block;
  
}

.changeMode {

  background-color: transparent;
}

.mode-icon {
  display: flex;
  align-items: center;
  margin-right: 22rem;

}

button {
  border: none;
  

}

button:hover {

}

svg {
  background-color: rgb(250, 250, 250);
}