header {
  z-index: 99999;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(20px);
  transition: .6s ease;
}

header.sticky {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: var(--box-shadow);
}

.nav-bar {
  position: relative;
  height: calc(4rem + 1rem);
  max-width: 1250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  transition: .6s ease;
}

header.sticky .nav-bar{
  height: calc(2.5rem + 1rem);
}

/* Logo start */
.header-logo-container {
  color: var(--first-color);
  font-size: 1.3rem;
  font-weight: 600;
}

.header-logo-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.header-logo-wrapper::after {
  content: "YE";
}

.header-logo-wrapper:hover::after,
.header-logo-wrapper:active::after {
  content: "YULIA EVSEEVA (You-lee-ya)";
}
/* Logo end */

.nav-items a {
  color: var(--first-color);
  font-size: var(--normal-font-size);
  font-weight: 500;
}

.nav-items a:not(:last-child) {
  margin-right: 50px;
}

.nav-items a:hover {
  color: var(--second-color);
}

/* Mode start */
.changeMode {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  width: 7rem;
  height: 10rem;
  background-color: transparent;
  border: none;
}

.lamp {
  background-color: transparent;
  border: none;
}

.material-symbols-rounded {
  font-size: 2rem;
  cursor: pointer;
  color: rgb(221, 232, 247);
}

.material-symbols-rounded:hover {
  border-top: 48px solid transparent;
  border-left: 30px solid transparent; 
  border-right: 30px solid transparent; 
  border-bottom: 50px solid rgb(255, 251, 198);
  text-shadow: 0 0 10px rgba(221, 221, 221, 0.8);
}
/* Mode end */

/* .nav-burger {
  width: 5rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.nav-burger-wrap {
  width: 3rem;
  height: 3rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  display: flex;
}

.burger-line-1,
.burger-line-2 {
  background-color: rgb(221, 232, 247);
  width: 100%;
  height: 2px;
}

.nav-burger-wrap.active .burger-line-1 {
  transform: translateY(8px) rotate(45deg);
}

.nav-burger-wrap.active .burger-line-2 {
  transform: translateY(-8px) rotate(-45deg);
} */