header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10rem;
  padding: 0 5rem 0 6rem;
  background-color: none;
}

.header-logo-container {
  cursor: pointer;
  padding: 0.75rem;
}

.header-logo-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(221, 232, 247);
  font-size: 2rem; 
  font-family: "Big Shoulders Stencil Display", sans-serif;
  font-weight: 600;
}

.header-logo-wrapper::after {
  content: "YE";
}

.header-logo-wrapper:hover::after,
.header-logo-wrapper:active::after {
  content: "YULIA EVSEEVA (You-lee-ya)";
}

.navbar {
  height: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20rem;
  color: rgb(221, 232, 247);
}

.menu-content {
  display: flex;
  height: 70vh;
  width: 50rem;
  background-color: rgb(128, 0, 90);
  margin-top: 300%;
  transition: down 0.5s ease-in-out;
}

.menu {
  gap: 50px;
  font-weight: 500;
}

.submenu {
  display: none;
  position: absolute;
  font-size: 1rem;
  margin-top: 3rem;
  visibility: hidden;
}

a {
  position: relative;
  text-decoration: none;
  align-self: center;
  cursor: pointer;
  color: silver;
    
}

a:hover .submenu:hover {
  color: white;
  transition: opacity 1s ease;
  text-shadow: 0 0 10px rgba(221, 221, 221, 0.8);
  visibility: visible;
}

.changeMode {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  width: 7rem;
  height: 10rem;
  background-color: transparent;
  border: none;
}

.lamp {
  background-color: transparent;
  border: none;
}

.material-symbols-rounded {
  font-size: 2rem;
  cursor: pointer;
  color: rgb(221, 232, 247);
}

.material-symbols-rounded:hover {
  border-top: 48px solid transparent;
  border-left: 30px solid transparent; 
  border-right: 30px solid transparent; 
  border-bottom: 50px solid rgb(255, 251, 198);
  text-shadow: 0 0 10px rgba(221, 221, 221, 0.8);
}

.nav-burger {
  width: 5rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.nav-burger-wrap {
  width: 3rem;
  height: 3rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  display: flex;
}

.burger-line-1,
.burger-line-2 {
  background-color: rgb(221, 232, 247);
  width: 100%;
  height: 2px;
}

.nav-burger-wrap.active .burger-line-1 {
  transform: translateY(8px) rotate(45deg);
}

.nav-burger-wrap.active .burger-line-2 {
  transform: translateY(-8px) rotate(-45deg);
}