.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
  
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.5, 1); /* Custom cubic-bezier to start slow and end fast */
  animation: moveToUser 1.5s forwards;
  animation-delay: 1s;
  }
  
  @keyframes moveToUser {
    0% {
      transform: translateY(0) scale(1);
    }
    
    100% {
      transform: scale(3);
    }
  }
  
.logo-letter {
  opacity: 0;
  font-family: "Big Shoulders Stencil Display", sans-serif;
  font-size: 12rem;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  animation: fadeInOut 1.5s ease-in-out forwards;
  text-shadow:
    0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}
  
@keyframes fadeInOut {
    0% {
      opacity: 0;
    }
  
    20% {
      opacity: 1;
    }
  
    80% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
}
  
  /* Delay each letter */
  /* Y */
  .logo-letter:nth-child(1) {
    animation-delay: 0s;
  }
  /* u */
  .logo-letter:nth-child(2) {
    animation-delay: 0.03s;
  }
  /* l */
  .logo-letter:nth-child(3) {
    animation-delay: 0.06s;
  }
  /* i */
  .logo-letter:nth-child(4) {
    animation-delay: 0.09s;
  }
  /* a */
  .logo-letter:nth-child(5) {
    animation-delay: 0.12s;
  }
  /* E */
  .logo-letter:nth-child(7) {
    animation-delay: 0.15s;
  }
  /* v */
  .logo-letter:nth-child(8) {
    animation-delay: 0.18s;
  }
  /* s */
  .logo-letter:nth-child(9) {
    animation-delay: 0.21s;
  }
  /* e */
  .logo-letter:nth-child(10) {
    animation-delay: 0.24s;
  }
  /* e */
  .logo-letter:nth-child(11) {
    animation-delay: 0.27s;
  }
  /* v */
  .logo-letter:nth-child(12) {
    animation-delay: 0.3s;
  }
  /* a */
  .logo-letter:nth-child(13) {
    animation-delay: 0.33s;
  }

