
/* @media () {

} */


*, html, :root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Wire One", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 3rem;
  font-optical-sizing: auto;
  color-scheme: light dark;
  color: rgb(221, 232, 247);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: none;
}

.cursor {
  z-index: 999;
  position: fixed;
  background: #2696E8;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0 0 15px #2696E8,
              0 0 45px #2696E8,
              0 0 100px #2696E8;
  animation: colors 5s infinite;
  transform: translate(-50%, -50%);
}

@keyframes colors {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.cursor:before {
  content: "";
  position: absolute;
  background: #2696E8;
  width: 50px;
  height: 50px;
  opacity: 0.2;
  transform: translate(-30%, -30%);
  border-radius: 50%;
}

.home-container {
  width: 100vw;
  height: 100vh;
  animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    
  }
}

section {
  width: 100%;
  height: 90%;
}

#hero {
  background: linear-gradient(#000c22, #071c44);
}

#about {
  background: linear-gradient(#071c44, #193363);
}

#projects {
  background: linear-gradient(#193363, #16523e);
}

#contact {
  background: linear-gradient(#16523e, #164b52);
}