@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@media screen and (max-width: 1070px) {

}

:root {
/* Main theme colors */
--first-color: #0e2431;
--second-color: #1e9ea7;
--third-color: #777;

/* Hover colors */
--hover-color: #22b6c0;

/* Background colors */
--body-bg-color: #fefefe;
--card-bg-color: #fff;
--modal-bg-color: #fff;
--bg-transporent-color: rgba(0, 0, 0, 0.1);
--transporent-color-01: rgba(0, 0, 0, 0.1);
--transporent-color-012: rgba(106,89, 209, 0.1);
--line-color: #7d7d7d;

/* Color Filter */
--color-filter: invert(1);

/* Box Shadow */
--box-shadow: 0 0 20px rgba(0 0 0 / 10%);

/* Font Size */
--small-font-size: 0.9em;
--normal-font-size: 1em;

/* Scroll Bar Colors */
--scroll-bar-color: #c5cadf;
--scroll-thumb-color: #70768a;
--scroll-thomb-hover-color: #454f6b;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Popins', sans-serif;
  
}

html {
  scroll-behavior: smooth;
}

body {
color: var(--first-color);
background: var(--body-bg-color);
margin: 2rem 0 0 0;
transition: .5s ease;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Scroll to top button start */
/* Scroll bar start */
::-webkit-scrollbar {
  width: 10px;
  background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb-color);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-thumb-hover-color);
} 

/* Cursor start */
.cursor {
  z-index: 99999;
  position: fixed;
  background: transparent;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  pointer-events: none;
  animation: colors 5s infinite;
  transform: translate(-50%, -50%);
}

@keyframes colors {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.cursor:before {
  content: "";
  position: absolute;
  background: rgb(38, 150, 232);
  width: 45px;
  height: 45px;
  opacity: .2;
  transform: translate(-30%, -30%);
  border-radius: 50%;
}

/* Cursor end */

.home {
  width: 100vw;
  height: 100vh;
  animation: fadeIn .3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    
  }
}

