
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */


*, :root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  font-family: "Wire One", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 3rem;
  font-optical-sizing: auto;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

section {
  height: 80%;
  width: 100%;
}

.home-container {
  /* background-color: rgb(27, 38, 44); */
  opacity: 0;
  width: 100vw;
  height: 100vh;
  animation: fadeIn 0.1s ease-in-out forwards;
  box-shadow: inset 0 0 10px #000000;
  
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}